<header>
  <div class="nav">
    <div class="headerTop">
      <div class="logo">
        <h1>CinaMetro</h1>
      </div>
      <div class="searchBar">
        <input type="search" placeholder="Rechercher un film, une série, une star">
      </div>
    </div>
    <div class="headerDown">
      <ul>
        <li class="active">Cinéma</li>
        <li>Séries</li>
        <li>Streaming</li>
        <li>Lorem</li>
        <li>Lorem</li>
        <li>Lorem</li>
      </ul>
      <a href="" class="btn">Mon Compte</a>
    </div>
  </div>
</header>
