<div class="film">
  <div class="film_description">
    <div class="imgBox">
      <img src="https://fr.web.img2.acsta.net/c_310_420/pictures/15/10/13/15/12/514297.jpg" alt="">
    </div>
    <div class="textBox">
      <h4>Forrest Gump</h4>
      <p>2h 20min / Comédie, Drame, Romance</p>
      <p><span>Date de reprise</span> 28 octobre 2015</p>
      <p><span>De</span> Robert Zemeckis</p>
      <p><span>Avec</span> Tom Hanks, Gary Sinise, Robin Wright</p>
      <p class="desc_text">
        Quelques décennies d'histoire américaine, des années 1940 à la fin du XXème siècle, à travers le regard et l'étrange odyssée d'un homme simple et pur, Forrest Gump.
      </p>
    </div>
  </div>
  <div class="note">
    <div class="bloc">
      <p>Presse</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Spectateurs</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Mes amis</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
  </div>
</div>
<div class="film">
  <div class="film_description">
    <div class="imgBox">
      <img src="https://fr.web.img4.acsta.net/c_310_420/pictures/19/03/14/10/37/5927961.jpg" alt="">
    </div>
    <div class="textBox">
      <h4>La Liste de Schindler</h4>
      <p>2h 20min / Comédie, Drame, Romance</p>
      <p><span>Date de reprise</span> 28 octobre 2015</p>
      <p><span>De</span> Robert Zemeckis</p>
      <p><span>Avec</span> Tom Hanks, Gary Sinise, Robin Wright</p>
      <p class="desc_text">
        Evocation des années de guerre d'Oskar Schindler, industriel autrichien rentré à Cracovie en 1939 avec les troupes allemandes. Il va, tout au long de la guerre, protéger des juifs en les faisant travailler dans sa fabrique.
      </p>
    </div>
  </div>
  <div class="note">
    <div class="bloc">
      <p>Presse</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Spectateurs</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Mes amis</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
  </div>
</div>
<div class="film">
  <div class="film_description">
    <div class="imgBox">
      <img src="https://fr.web.img2.acsta.net/c_310_420/medias/nmedia/18/66/15/78/19254683.jpg" alt="">
    </div>
    <div class="textBox">
      <h4>La Ligne verte</h4>
      <p>2h 20min / Comédie, Drame, Romance</p>
      <p><span>Date de reprise</span> 28 octobre 2015</p>
      <p><span>De</span> Robert Zemeckis</p>
      <p><span>Avec</span> Tom Hanks, Gary Sinise, Robin Wright</p>
      <p class="desc_text">
        Paul Edgecomb, Gardien-chef du pénitencier de Cold Mountain en 1935, était chargé de veiller au bon déroulement des exécutions capitales. Parmi les prisonniers se trouvait un colosse du nom de John Coffey...
      </p>
    </div>
  </div>
  <div class="note">
    <div class="bloc">
      <p>Presse</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Spectateurs</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Mes amis</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
  </div>
</div>
<div class="film">
  <div class="film_description">
    <div class="imgBox">
      <img src="https://fr.web.img6.acsta.net/c_310_420/medias/nmedia/18/35/24/09/18784292.jpg" alt="">
    </div>
    <div class="textBox">
      <h4>12 hommes en colère</h4>
      <p>2h 20min / Comédie, Drame, Romance</p>
      <p><span>Date de reprise</span> 28 octobre 2015</p>
      <p><span>De</span> Robert Zemeckis</p>
      <p><span>Avec</span> Tom Hanks, Gary Sinise, Robin Wright</p>
      <p class="desc_text">
        Lors d'un procès, un juré émet l'hypothèse que l'homme qu'il doit juger n'est peut-être pas coupable. Il va tenter de convaincre les onze autres jurés.
      </p>
    </div>
  </div>
  <div class="note">
    <div class="bloc">
      <p>Presse</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Spectateurs</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Mes amis</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
  </div>
</div>
<div class="film">
  <div class="film_description">
    <div class="imgBox">
      <img src="https://fr.web.img2.acsta.net/c_310_420/medias/nmedia/18/35/57/73/18660716.jpg" alt="">
    </div>
    <div class="textBox">
      <h4>Le Parrain</h4>
      <p>2h 20min / Comédie, Drame, Romance</p>
      <p><span>Date de reprise</span> 28 octobre 2015</p>
      <p><span>De</span> Robert Zemeckis</p>
      <p><span>Avec</span> Tom Hanks, Gary Sinise, Robin Wright</p>
      <p class="desc_text">
        En 1945, à New York, les Corleone sont une des cinq familles de la mafia. Don Vito Corleone marie sa fille à un bookmaker. Sollozzo, "parrain" de la famille Tattaglia, propose à Don Vito une association dans le trafic de drogue...
      </p>
    </div>
  </div>
  <div class="note">
    <div class="bloc">
      <p>Presse</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Spectateurs</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="bloc">
      <p>Mes amis</p>
      <p> ⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
  </div>
</div>
